.container{
  width: 500px;
  height: 500px;
  border-radius: 40px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

#img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: brown;
  margin-top: 60px;
}